    <div class="nav-header">
        <div class="hamburger" onclick="hamburgerMenu()">☰</div>
        <div class="menu">
            <nav>
                <a class="navbar-brand" href="{{ base_url }}#about-me">About me</a>
                <a class="navbar-brand" href="{{ base_url }}#web-developer">Web developer</a>
                <a class="navbar-brand" href="{{ base_url }}#data-analyst">Data Analyst</a>
                <a class="navbar-brand" href="{{ base_url }}/articles">Articles</a>
                <a class="navbar-brand" href="{{ base_url }}#contact">Contact</a>
            </nav>
        </div>
    </div>